/*----- Google font import -----*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;0,900;1,900&family=Sacramento&display=swap');


/*----- ROOT VARIABLES -----*/
:root {

    /*-- Typography Variables --*/
    --heading-text: 'Sacramento', cursive;
    --body-text: 'Raleway', sans-serif;
    
    /*-- Color Variables --*/
    --black: #000000;
    --white: #FFFFFF;
    --off-white: #EFF6EE;

    --dark-grey: #273043;
    --light-grey: #9197AE;
    --light-red: #F02D3A;
    --dark-red: #DD0426;
    --green: #006400;
}


/* General margin for navbar  */


.margin-container {
  margin-top: 500px;
}

.search-container {
  margin-top: 300px;
}

.recipe-container {
  margin-top: 400px;
}

.team-container {
  margin-top: 100px;
}

/* Carousel */

.border-carousel {
  border: 3px solid var(--light-grey);
  border-color: var(--light-grey);
  box-shadow: 1px 3px 25px 1px hsl(241, 100%, 89%);
}

/*----- BACKGROUND STYLES -----*/


body {
  background: url("../images/background.jpg") no-repeat center center fixed;
}

.card {
  background-color: var(--white)
}

/* not working at the moment */
.navbar .footer {
  background-color: var(--dark-red);
}

/*----- FONT STYLES -----*/

h1 {
    font-family: var(--heading-text);
    font-size: 5rem;
    color: var(--off-white);
}

h2 {
    font-family: var(--body-text);
    font-size: 1rem;
}

h3 {
    font-family: var(--heading-text);
    font-size: 3vw;
    color: var(--off-white);
}

h5 {
    font-family: var(--heading-text);
}

p {
    font-family: var(--body-text);
}

.title {
  font-family: var(--body-text);
  color: var(--off-white)
}

.subtitle {
color: var(--off-white);
}

/*----- NAVBAR STYLES -----*/

.social-icon {
  color: var(--off-white);
}

#search-input {
  width: 150px; /* Adjust the width as needed */
  font-size: 14px; /* Adjust the font size as needed */
}

#search {
  font-size: 14px; /* Adjust the font size as needed */
}

.search-button {
  background-color: var(--dark-grey);
}

  html, body {
    height: 100%;
}

body > footer {
    position: sticky;
    top: 100vh;
}


/* Footer styles */

.meet-text {
  color: var(--black)
}

.meet-text:hover {
  color: var(--off-white)
}

/*-- Search Bar Err Handling --*/

#no-recipes-found {
  text-align: center;
  color: #006400;
  margin-top: 20px;
  padding: 10px;
  background-color: #EFF6EE;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #DD0426; /* Add a red border */
}



/*-- Contact Page Styles --*/

.contact-body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 10%;
}

.contact-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
  color: #DD0426;; 
  color: #DD0426;; 
}

input[type="file"] {
  display: none; 
}

.file-upload-container {
  text-align: center;
  margin-bottom: 15px; 
}

.custom-file-upload:hover {
  background-color: #DD0426;
}

input,
textarea,
select { 
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #DD0426;; 
  border-radius: 5px;
  border: 1px solid #DD0426;; 
  border-radius: 5px;
  border: 1px solid #DD0426;; 
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #006400;; 
  color:#d9534f ;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #006400;; 
}

select {
  appearance: none;
  background: url('../images/angle-down-solid.svg') no-repeat right center/15px var(--white); 
  padding-right: 30px; 
  background-position-x: calc(100% - 10px); 
  border: 1px solid var(--dark-red); 
  border-radius: 5px;
}

select:focus {
  border-color: #DD0426;; 
  box-shadow: 0 0 5px #DD0426;; 
}

/*card styles for favourites page*/
.card-flex {
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.card-flex .card-body {
  flex-grow: 1;
}

.col-lg-6 {
  margin-bottom: 20px;
}

/* Media query for responsiveness */
@media screen and (max-width: 600px) {

  h1 {
    font-size: 2rem;
  }

  .contact-form {
    max-width: 100%;
  }

}

/* For smaller screens */
@media screen and (max-width: 768px) {

  #search-input {
    width: 35%; /* Adjust the width as needed */
    font-size: 12px; /* Adjust the font size as needed */
    margin-right: 2%; /* Add or adjust right margin as needed */
    margin-bottom: 5px; /* Add or adjust bottom margin as needed */
}

#search {
    width: 30%; /* Adjust the width as needed */
    font-size: 12px; /* Adjust the font size as needed */
    margin-left: 2; /* Remove left margin */
}
