/*----- Google font import -----*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:ital,wght@0,300;0,400;0,700;0,900;1,900&family=Sacramento&display=swap');


/*----- ROOT VARIABLES -----*/
:root {

    /*-- Typography Variables --*/
    --heading-text: 'Sacramento', cursive;
    --heading-text-2: font-family: 'Great Vibes', cursive;
    --body-text: font-family: 'Raleway', sans-serif;
    
    /*-- Color Variables --*/
    --black: #000000;
    --white: #FFFFFF;
    --off-white: #EFF6EE;

    --dark-grey: #273043;
    --light-grey: #9197AE;
    --light-red: #F02D3A;
    --dark-red: #DD0426;
}

h5 {
    font-family: var(--heading-text);
}

p {
    font-family: var(--body-text);
}

.carousel-inner {
    display: flex;
  }
  .carousel-item {
    flex: 0 0 auto;
    width: 100%; /* Adjust as needed */
  }

  .carousel-control-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 5%;
  }

  .carousel-control-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 5%;
  }


/* ----- CONTACT PAGE -----*/
.contact-body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('../images/desert.jpg') center/cover no-repeat fixed;
}

.contact-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

