.carousel-inner {
    display: flex;
  }
  .carousel-item {
    flex: 0 0 auto;
    width: 100%; /* Adjust as needed */
  }

  .carousel-control-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 5%;
  }

  .carousel-control-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 5%;
  }